@font-face {
    font-family: bebas;
    src: url(BebasNeueBold.woff);
}

@font-face {
    font-family: standart;
    src: url(AdventPr.ttf);
}
@font-face {
    font-family: s;
    src: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    
    display: flex;
    flex-direction: column;
    margin: 0%;
    
    width:100%;
    background-color: #0B0B0B;
    align-items: center;
    

}


*{

    font-family: Arial, sans-serif;
    font-weight: 150;
    position: relative;
}
.mas{
    font-size: 32px !important;
    font-weight: 800px !important;
}

* h1, * h2, * h3{

    margin: 0px;
    color: white;
    font-family: bebas !important;
    
}
* p {
    
    text-align: center;
    color: rgb(197, 197, 197);
}

.main{
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    overflow: hidden;
    height: fit-content;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}

.main_text1{
    position: relative;
    z-index: 1;
    width: 300px;
}
.main_text2 {
    position: relative;
    z-index: 2;
}
.main_text3{
    margin-top: 70px;
    position: relative;
    z-index: 1;
    width: 320px;
}
.main_text4 {
    position: relative;

    z-index: 2;
    font-size: 28px;
}





.grad{
    position: absolute;
    width: 100%;
}

.circle{
    
    border-radius: 50%;
    left: -10%;
    width: 120%;
    aspect-ratio: 1;
    background-image: radial-gradient(circle, rgb(0, 68, 255,0.5) 10%, rgb(7, 114, 255,0) 70%);   
    margin: 0 auto;
    display:flex;
    scale: 1.5;
    z-index: 0;
    align-items: center;
    justify-content: center;
    
}
.img_back{
    
    width: 100%;
    left: 0px;
    top: 80px;
    position: absolute;
}
.img_front{
    
    width: 100%;
    left: 0px;
    top: 90px;
    z-index: 3;
    position: absolute;
}


.button{
    
    border-radius: 10px;
    width: 100%;
    background-color: #FD4444;
    padding: 16px 0px 12px 0px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button h2{
    user-select: none;
    text-decoration: none !important;
    color: white;
    text-align: center;
    font-size: 24px;
}
a{
    text-decoration: none !important;
}

.why{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 100px;
    background-color: #0B0B0B;
    align-items: center;
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
}
.why_text{
    width: 60%;
    margin-bottom: 30px;
    
}

.gr{
    width: 360px;
    display: flex;
    flex-direction: row;
    
    align-items: center;
}
.cir{
    
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00AAFF;
    border-radius: 50%;
    margin-right: 30px;
    margin-left: 10px;
    box-shadow: 0px 1px 26px 13px rgba(0, 170, 255, 0.2);
}
.line{
    overflow: hidden;
    width: 1px;
    height: 30px;
    margin-right: 290px;
    background-color: #ffffff;
}
.l1{
    position: relative;
    top: 4px;
}
.l2{
    position: relative;
    top: -6px;
}


.gr p{
    color: #ffffff;
    text-align: start;
}
.b{
    color: #00AAFF;
}
.bb{
    color: #FD4444;
}





.galerey{
    overflow: hidden;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 80px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.galerey h2{
    width: 80%;
    margin-bottom: 40px;
}



.slider {
    
    position: relative;
    width: 80%; /* Ширина слайдера */
     
    display: flex;
    justify-content: center;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.slider-window {
    width: 90%;
    aspect-ratio: 0.9;
    
    align-items: center;
    position: relative;
}

.slider-track {
    display: flex;
    position: relative;
    align-items: center;
    height: 100%;
}

.slider-img {
    width: 100%;
    aspect-ratio: 0.9;
    flex-shrink: 0;
    position: absolute;
    scale: 1.2;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(0.5) translateX(300px);
    transition: transform 0.7s ease, opacity 0.7s ease;
}

.slider-img.active {
    opacity: 1;
    transform: scale(1) translateX(0);
    z-index: 1;
}

.slider-img.prev {
    opacity: 0;
    transform: scale(0.5) translateX(-300px);
    z-index: 0;
}

.slider-img.next {
    opacity: 0;
    transform: scale(0.5) translateX(300px);
    z-index: 0;
}

.btn_back, .btn_forward {
    position: absolute;
    top: 35%;
    outline: none; 
    transform: translateY(-10%);
    
    color: white;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    user-select: none;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn_back:active, .btn_forward:active {
    background-color: #636363;
    transform: scale(1.1);
    

}

.btn_back {
    left: -50px;
}

.btn_forward {
    right: -50px;
}

.slider-dots {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    
    
}

.dot {
    width: 8px;
    height: 8px;
    background-color: rgba(82, 82, 82, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #111111;
}


.me{
    align-items: center;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    
    margin-top: 80px;
}

.me h2{
    margin-bottom: 40px;
    text-align: center;
}
.me h3{
    margin-top: 10px;
    font-size: 22px;
    font-family: Arial, sans-serif !important;
}
.me p {
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    text-align: left;
}
.photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.i1{
    width: 49%;
    margin-bottom: 2%;
    
}
.i2{
    width: 100%;
    margin-bottom: 2%;
    
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    
    
}
.gl{
    text-align: center !important;
    width: 100%;
    margin-bottom: 20px;
}

.card{
    width: 100%;
    background: #191919;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    
}
.card h3{
    opacity: 0.7;
}
.card h2{
    
    font-size: 24px;
    margin-top: 10px;
}
.card p{
    margin-top: 0px;
    opacity: 0.9;
    text-align: left;
    color: #ffffff;
    margin-bottom: 5px;
}
.hr{
    width: 20%;
    height: 0.5px;
margin-bottom: 30px;
    background-color: #ffffff;
    
}
.images{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 300px;
}
.images img{
    width: 48%;
    aspect-ratio: 0.8;
    border-radius: 10px;
    object-fit: cover;
}
.block4{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.block4 h2{
    margin-top: 40px;
    text-align: center;
    color: #00aaff;
    line-height: 25px;
    margin-bottom: 20px;
}
.txt{
    margin-top: 0px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    
    align-items: center;
    justify-content: left;
}
.dott{
   
    flex-shrink: 0;
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 50%;
}
.txt p{
    text-align: left;
    margin-left: 20px;
}
.b2{
    color: #00AAFF;
    font-family: bebas;
    
}
.blocks{
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    line-height: 25px;
}
.blocks h2{
    width: 100%;
}
.blocks .mas{
    
    margin-bottom: 40px;
}
.blocks h3{
    user-select: none;
    margin-top: 20px;
}
.b2{
    
    color: #00aaff !important;
    margin-bottom: 40px;
}
.bt2{
    margin-top: 10px !important;
    margin-bottom: 30px !important;
    background-color: #00AAFF !important;
}
.blocks img{
    width: 100%;
    height: auto;
    overflow:visible !important;
    

    
}
.li{
    width: 0.5px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}




@media (min-width: 680px) {
    
    .galerey h2 {
        margin-bottom: 80px;
    }
    .circle{
        top:30px;
        border-radius: 50%;
        left: -3%;
        width: 90%;
        aspect-ratio: 1;
        background-image: radial-gradient(circle, rgb(0, 68, 255,0.5) 10%, rgb(7, 114, 255,0) 70%);   
        margin: 0 auto;
        display:flex;
        scale: 1.3;
        z-index: 0;
        align-items: center;
        justify-content: center;
        margin-bottom: -60px;
        
    }
    .img_back{
        
        width: 100%;
        left: 0px;
        top: -200px;
        position: absolute;
    }
    .img_front{
        
        width: 70%;
        left: 15%;
        top: 106px;
        z-index: 3;
        position: absolute;
    }
}


@media (min-width: 760px) {
    .images{
        width: 70% !important;
        margin-left: 15%;
    }
    
}
@media (min-width: 1000px) {



    .mas{
        font-size: 60px !important;
    }
    .main_text1{
        width: 500px;
    }
    .blocks h1{
    margin-top: 30px;
        margin-bottom: 40px;
    }
    .main_text3{
        width: 500px;
    }

    h1{
        font-size: 60px !important;
    }
    h2{
        font-size: 48px ;
        line-height: 46px ;
    }
    .me h2{
        font-size: 54px !important;
    }
    h3{
        font-size: 40px !important;
    }
    p{
        font-size: 32px !important;
    }

    .images{
        width: 40% !important;
        margin-left: 30%;
    }
    .circle{
        top: -00px;
        border-radius: 50%;
        left: -2%;
        width: 50%;
        aspect-ratio: 1;
        background-image: radial-gradient(circle, rgb(0, 68, 255,0.5) 10%, rgb(7, 114, 255,0) 70%);   
        margin: 0 auto;
        display:flex;
        scale: 1.3;
        z-index: 0;
        align-items: center;
        justify-content: center;
        margin-bottom: -60px;
        
    }
    .img_back{
        
        width: 100%;
        left: 0px;
        top: -460px;
        position: absolute;
    }
    .img_front{
        
        width: 40%;
        left: 30%;
        top: 200px;
        z-index: 3;
        position: absolute;
    }
    .gr{
        width: 600px;
        display: flex;
        flex-direction: row;
        
        align-items: center;
    }
}
@media (max-width:400px) {
    .blocks h2{
        font-size: 18px;
    }
    .img_back{
    
        
        position: absolute;
    }
    .img_front{
        
        
        
        top: 140px;
        z-index: 3;
        position: absolute;
    }
}
    











